{% extends "base.html" %}

{% block content %}
{% if submitted %}
          <div class="alert alert-success" role="alert">
            <strong>Danke!</strong> Du kannst gerne noch weitere Fragen vorschlagen!
          </div>
          {% endif %}
          <h1 class="mt-5">100 Hacker*innen haben wir gefragt...</h1>
	      <form action="{{approot}}add" method="get">
          <label for="frage">Versuche eine Frage zu stellen, die möglichst viele typische Hackspace besuchende beantworten können. Bitte keine Ja/Nein bzw. "dies oder das" Fragen - die funktionieren nicht für das Spiel. Sei kreativ! #tuwat</label>
			  <div class="form-group">
			    <input name="question" type="text" class="form-control" id="frage" placeholder="..." autofocus>
			  </div>
			  <button type="submit" class="btn btn-primary">Abschicken</button>
          </form>
{% endblock %}
