<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ url_for('static', filename='fonts/font.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <title>100 hacker*innen</title>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/100hf">Fragen beantworten
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Frage hinzufügen</a>
              <span class="sr-only">(current)</span>

            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          {% if submitted %}
          <div class="alert alert-success" role="alert">
            <strong>Danke!</strong> Du kannst gerne noch weitere Fragen vorschlagen!
          </div>
          {% endif %}
          <h1 class="mt-5">100 Hacker*innen haben wir gefragt...</h1>
	      <form action="/100hf/add" method="get">
			  <div class="form-group">
			    <input name="question" type="text" class="form-control" id="frage" placeholder="..." autofocus>
			  </div>
			  <button type="submit" class="btn btn-primary">Abschicken</button>
          </form>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
	<script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

  </body>

</html>